/*
Major second  Scale:
https://www.modularscale.com/?16&px&1.125
*/

html {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */ 
    padding: 0.563em; /* 1.125em / 2 */ 
    text-rendering: optimizeLegibility;
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #E2E2DC;
}

/* fonts */ 
h1 {
    font-size: 1.266em; /* 20px @ 16 */
    line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
} 

h2 {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
} 

h3 {
    font-size: 1em; /* 16px @ 16 */
    line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */ 
} 

p {
    font-size: 0.889em; /* 14px @ 16 */
    line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
}

/* Responsive Media */
img, audio, video {
    display: block;
    max-width: 100%;
}

img {
    margin:0 auto;
    left:0;       
    right:0;       
}

.responsive_img {
    max-width: 100%;
}

/* Popup */

#popup{
    background-color: #bbc3c7;
    padding: 0.563em; /* 18px / 2 */
    margin: 0 0 0 0;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    width: auto;
    display: none;
}

#popup h1, h2{
    display: block;
}

/* padding  */
p{
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
}

#popup h2 {
    padding-top: 0.563em;
    padding-bottom: 0.563em;
} 
#popup h4 {
    padding-top: 0.563em; 
    padding-bottom: 0.563em;
}

/* smaller popup */
 #popup h1{
      text-align: center;
      margin-top: .0em;
      margin-bottom: .5em;
  }

#popup h2{
      text-align: center;
      padding-top: .0em;
      padding-bottom: .0em;
  }
#popup h4{
      text-align: center;
}

#popup h5{
    display: inline;
    padding-left: 0.563em; 
    padding-right: 0.563em; 

}

#popup ol{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

#popup ol li{
    list-style-type: none;
}

#email{
    width: 100%;
    border: 0;
    border-radius: 0.2em;
    padding-top: 0.563em; 
    padding-bottom: 0.563em;
    margin-top: 0.563em; 
    margin-bottom: 1em;
    text-indent: 12px;
    display: block;
}

#submit{
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    background-color: black;
    border: 0;
    border-radius: 0.2em;
    padding-top: 0.563em; 
    padding-bottom: 0.563em; 
    margin-top: 0.563em; 
    margin-bottom: 0.563em; 
    display: block;
}

#exit{
    color: grey;
    text-align: right;
    display: block;
    margin-top: 2.563em; 
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

ol {
    /*background-color: darkgray;  */
    padding: 0.809em; /* 26px / ~ 120% */ 
    border-radius: 0.236em;
}

/* rest of website */
section{
    margin: 1em 0;
    padding: 1em;
}

#blog_title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    padding-right: .5em;
    text-align: center;
}

/* pictures */
section img{
  max-width: 100%;
  height: auto;
  padding-bottom: .5em;
}
  
.ovo {
    display: block;
}

/* ========================  3. Media Queries ======================== */

/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 354px) { 
    #popup h1{
        text-align: center;
        margin-top: .0em;
        margin-bottom: .5em;
    }
  
  #popup h2{
        text-align: center;
        padding-top: .0em;
        padding-bottom: .0em;
    }
  #popup h4{
        text-align: center;
  }

    #popup{
        width: 88%;
        margin: 0 auto;
    }

}
/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 526px) {
    #popup{
        width: 465px;
        margin: 0 auto;
    }
    
    section{
        margin: 1em .5em;
        padding: 1em;
        overflow: hidden;
    }
    
    #blog_title{ 
    text-align: left;
    }
  
  .topic img{
    height: auto;
    width: 200px;
    margin:  0 1em 0 0;
    padding: 0 0 0 0;
    display: inline-block;
    float: left;
  }
  
  section div{
    width: auto;
    display: inline;
  }
    
    /* fonts */
    h1 {
        font-size: 1.602em; /* 25px @ 16 */
        line-height: 1.667em; /* 30px @ 120% ( 30px / 18px = 1.667em ) */
    } 

    h2 {
        font-size: 1.266em; /* 20px @ 16 */
        line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
    } 

    h3 {
        font-size: 1.125em; /* 18px @ 16 */
        line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
    }
    
    p {
        font-size: 1em; /* 16px @ 16 */
        line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */
    }
}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 960px) {

    #content{
        width: 960px;
        margin: 0 auto;
    }
  
   .topic img{
    width: 265px;
  }
    
    /*fonts */
    h1 {
        font-size: 2.281em; /* 36px @ 16 */
        line-height: 2.389em; /* 43px @ 120% ( 43px / 18px = 2.389em ) */
    } 

    h2 {
        font-size: 1.602em; /* 25px @ 16 */
        line-height: 1.667em; /* 30px @ 120% ( 30px / 18px = 1.667em ) */
    } 

    h3 {
        font-size: 1.266em; /* 20px @ 16 */
        line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
    } 
    
    p {
        font-size: 1.125em; /* 18px @ 16 */
        line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */ 
    }

}

/* ========================  4. Navigation ======================== */

nav ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    background-color: dimgrey;
}

nav li a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #FAF9F9;
    padding: 16px 18px;
    color: white;
}

nav li {
    float: right;
}


nav li a:hover {
    background-color: grey;
}

/* popup secret fix*/
#popup{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 1em;
}

/* color */
p, h1, h2, h3, h4, h5, h6{
  color: #10293B;
}

#close{
  color: #62625E;
}

#submit{
  background-color: #357098;
  color: #FAF9F9;
}

#popup h1, h2, h3, h4, h5, h6{
  color: #10293B;
}

#popup{
  background-color: #E2E2DC;
}

nav ul{
  background-color: #357098;
}

nav li a{
  color: #FAF9F9;
}

#blog_title{
  background-color: #7B97B2;
  color: #FAF9F9;
}

section{
    background-color: #FAF9F9;
}





