/* Responsive Media */
img, audio, video {
    display: block;
    max-width: 100%;
}

/* ========================  1. MAIN STYLE ======================== */

/*
Major second  Scale:
https://www.modularscale.com/?16&px&1.125
*/

html {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */ 
    padding: 0.563em; /* 1.125em / 2 */ 
    text-rendering: optimizeLegibility;
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */ 
}

h1 {
    font-size: 2.281em; /* 36px @ 16 */
    line-height: 2.389em; /* 43px @ 120% ( 43px / 18px = 2.389em ) */
} 

h2 {
    font-size: 1.602em; /* 25px @ 16 */
    line-height: 1.667em; /* 30px @ 120% ( 30px / 18px = 1.667em ) */
} 

h3 {
    font-size: 1.266em; /* 20px @ 16 */
    line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
} 

h4 {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
} 

h5 {
    font-size: 1em; /* 16px @ 16 */
    line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */ 
} 

h6 {
    font-size: 0.889em; /* 14px @ 16 */
    line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
} 

/* Popup */

#popup{
    background-color: lightgrey;
    padding: 0.563em; /* 18px / 2 */
    margin: 0.563em;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    width: auto 0;
}

#popup h1, h2{
    display: block;
}


#popup h2 { padding-top: 0.563em;
    padding-bottom: 0.563em;} /* padding  */
#popup h4 { padding-top: 0.563em; padding-bottom: 0.563em;} /* padding  */


img {
    margin:0 auto; /* center */
    left:0;        /* center */
    right:0;       /* center */
}

.responsive_img {
    display: block;
    height: auto;
    max-width: 100%;
}

.owo {
    /* margin-left: 10%;
    margin-right: 10%;  */
}

.ovo {
    display: block;

}

input{

}

#popup ol{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

#popup ol li{
    list-style-type: none;
}

#email{
    width: 100%;
    border: 0;
    border-radius: 0.2em;
    padding-top: 0.563em; 
    padding-bottom: 0.563em;
    margin-top: 0.563em; 
    margin-bottom: 0.563em;
    text-indent: 12px;
    display: block;
}

#submit{
    width: 100%;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 0.2em;
    padding-top: 0.563em; 
    padding-bottom: 0.563em; 
    margin-top: 0.563em; 
    margin-bottom: 0.563em; 
    display: block;
}

#exit{
    color: grey;
    text-align: right;
    display: block;
    margin-top: 2.563em; 
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#popup h5{
    display: inline;

    padding-left: 0.563em; 
    padding-right: 0.563em; 

}

/* exit */




/* ========================  2. Base ======================== */

label {

}

ol {
    /*background-color: darkgray;  */
    padding: 0.809em; /* 26px / ~ 120% */ 
    border-radius: 0.236em;
}

input {

}

/* ========================  3. Media Queries ======================== */

/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 354px) { 
    #popup h2{
        text-align: center;
    }

}

/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 526px) {
    #popdown_1{
        width: 465px;
        margin: 0 auto;
    }

}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 960px) {

    #content{
        width: 960px;
        margin: 0 auto;
    }

    #html{

    }

}

/* ========================  4. Navigation ======================== */

nav ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
    list-style-type: none;
    background-color: dimgrey;
}

nav li a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    padding: 16px 18px;
    color: white;
}

nav li {
    float: right;
}


nav li a:hover {
    background-color: grey;
}

section{
    margin: 1em;
    padding: 1em;
    background-color: white;
}

#blog_title{
    margin-top: .5em;
    margin-bottom: .4em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: white;
}

/* secret fix*/
#popup{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}




