/* Responsive Media */
img, audio, video {
    display: block;
    max-width: 100%;
}

/* ========================  1. MAIN STYLE ======================== */

/*
Major second  Scale:
https://www.modularscale.com/?16&px&1.125
*/

html {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */ 
    padding: 0.563em; /* 1.125em / 2 */ 
    text-rendering: optimizeLegibility;
    margin: 0 0;
    padding: 0 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* fonts */ 
p {
    font-size: 0.889em; /* 14px @ 16 */
    line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
}

h1 {
    font-size: 1.266em; /* 20px @ 16 */
    line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
} 

h2 {
    font-size: 1.125em; /* 18px @ 16 */
    line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
} 

h3 {
    font-size: 1em; /* 16px @ 16 */
    line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */ 
} 

h4 {
    font-size: 0.889em; /* 14px @ 16 */
    line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
} 

h5 {
    font-size: 0.889em; /* 14px @ 16 */
    line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
} 

h6 {
    font-size: 0.889em; /* 14px @ 16 */
    line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
} 


/* Popup */

#popup{
    background-color: #bbc3c7;
    padding: 0.563em; /* 18px / 2 */
    margin: 0.563em;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    width: auto;
}

#popup h1, h2{
    display: block;
}


#popup h2 { padding-top: 0.563em;
    padding-bottom: 0.563em;} /* padding  */
#popup h4 { padding-top: 0.563em; padding-bottom: 0.563em;} /* padding  */


img {
    margin:0 auto; /* center */
    left:0;        /* center */
    right:0;       /* center */
}

.responsive_img {
    display: block;
    height: auto;
    max-width: 100%;
}

.ovo {
    display: block;

}

#popup ol{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

#popup ol li{
    list-style-type: none;
}

#email{
    width: 100%;
    border: 0;
    border-radius: 0.2em;
    padding-top: 0.563em; 
    padding-bottom: 0.563em;
    margin-top: 0.563em; 
    margin-bottom: 1em;
    text-indent: 12px;
    display: block;
}

#submit{
    width: 100%;
    color: #ffffff;
    font-weight: 600;
    background-color: black;
    border: 0;
    border-radius: 0.2em;
    padding-top: 0.563em; 
    padding-bottom: 0.563em; 
    margin-top: 0.563em; 
    margin-bottom: 0.563em; 
    display: block;
}

#exit{
    color: grey;
    text-align: right;
    display: block;
    margin-top: 2.563em; 
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#popup h5{
    display: inline;

    padding-left: 0.563em; 
    padding-right: 0.563em; 

}

ol {
    /*background-color: darkgray;  */
    padding: 0.809em; /* 26px / ~ 120% */ 
    border-radius: 0.236em;
}

#popup{
    width: 88%;
    margin: 0 auto;
    display:none;
}

section{
    margin: 1em;
    padding: 1em;
}

/* ========================  3. Media Queries ======================== */

/* 400px Break Point 1: Extra Small Devices, Phones */
@media screen and (min-width: 354px) { 
    #popup h2{
        text-align: center;
    }

    #popup{
        width: 88%;
        margin: 0 auto;
    }
    
    /* fonts */ 
    p {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    }

    h1 {
        font-size: 1.266em; /* 20px @ 16 */
        line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
    } 

    h2 {
        font-size: 1.125em; /* 18px @ 16 */
        line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
    } 

    h3 {
        font-size: 1em; /* 16px @ 16 */
        line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */ 
    } 

    h4 {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    } 

    h5 {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    } 
    
    h6 {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    } 

}

/* 658px Break Point 2: Small Devices, Tablets, PCs */
@media screen and (min-width: 526px) {
    #popup{
        width: 465px;
        margin: 0 auto;
    }
    
    /* fonts */
    p {
        font-size: 1em; /* 16px @ 16 */
        line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */
    }

    h1 {
        font-size: 1.602em; /* 25px @ 16 */
        line-height: 1.667em; /* 30px @ 120% ( 30px / 18px = 1.667em ) */
    } 

    h2 {
        font-size: 1.266em; /* 20px @ 16 */
        line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
    } 

    h3 {
        font-size: 1.125em; /* 18px @ 16 */
        line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
    } 

    h4 {
        font-size: 1em; /* 16px @ 16 */
        line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */ 
    } 

    h5 {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    } 

    h6 {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    } 
}

/* 992px Break Point 3: Desktop Computers, Large screens */
@media screen and (min-width: 960px) {

    #content{
        width: 960px;
        margin: 0 auto;
    }

    #html{

    }
    
    section{
        margin: 1em 0;
        padding: 1em;
    }
    
    /*fonts */
    p {
        font-size: 1.125em; /* 18px @ 16 */
        line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */ 
    }

    h1 {
        font-size: 2.281em; /* 36px @ 16 */
        line-height: 2.389em; /* 43px @ 120% ( 43px / 18px = 2.389em ) */
    } 

    h2 {
        font-size: 1.602em; /* 25px @ 16 */
        line-height: 1.667em; /* 30px @ 120% ( 30px / 18px = 1.667em ) */
    } 

    h3 {
        font-size: 1.266em; /* 20px @ 16 */
        line-height: 1.334em; /* 24px @ 120% ( 24px / 18px = 1.334em ) */
    } 

    h4 {
        font-size: 1.125em; /* 18px @ 16 */
        line-height: 1.167em; /* 21px @ 120% ( 21px / 18px = 1.167em ) */
    } 

    h5 {
        font-size: 1em; /* 16px @ 16 */
        line-height: 1.056em; /* 19px @ 120% ( 19px / 18px = 1.056em ) */ 
    } 

    h6 {
        font-size: 0.889em; /* 14px @ 16 */
        line-height: 1em; /* 16px @ 120% ( 16px / 16px = 1em ) */
    } 


}

/* ========================  4. Navigation ======================== */

nav ul {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    background-color: dimgrey;
}

nav li a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: white;
    padding: 16px 18px;
    color: white;
}

nav li {
    float: right;
}


nav li a:hover {
    background-color: grey;
}

#blog_title{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .4em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: white;
}

/* secret fix*/
#popup{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}

/* color */
p, h1, h2, h3, h4, h5, h6{
  color: #102b3c;
}

#close{
  color: #62625E;
}

#submit{
  background-color: #357098;
  color: #FAF9F9;
}

#popup h1, h2, h3, h4, h5, h6{
  color: #10293B;
}

#popup{
  background-color: #E2E2DC;
}

nav ul{
  background-color: #357098;
}

nav li a{
  color: #FAF9F9;
}

#blog_title{
  background-color: #7B97B2;
  color: #FAF9F9;
}

body{
    background-color: #E2E2DC;
}

section{
    background-color: #FAF9F9;
}
p{
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
}




